{
  "swagger": "2.0",
  "info": {
    "title": "Hikube API",
    "description": "This API is intended to manage resources of Hikube Platform.",
    "version": "v0.1.0",
    "contact": {
      "name": "Hikube - HIDORA",
      "url": "https://hikube.cloud",
      "email": "contact@hidora.io"
    }
  },
  "host": "api.hikube.cloud",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/billing/v1alpha1/prices/instance": {
      "get": {
        "summary": "List instance (VM) prices",
        "operationId": "BillingService_ListInstancePrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/database": {
      "get": {
        "summary": "List database prices",
        "operationId": "BillingService_ListDatabasePrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/kubernetes": {
      "get": {
        "summary": "List Kubernetes (managed control plane) prices",
        "operationId": "BillingService_ListKubernetesPrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/licenses": {
      "get": {
        "summary": "List OS licence prices",
        "operationId": "BillingService_ListLicensesPrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/gpu": {
      "get": {
        "summary": "List GPU prices",
        "operationId": "BillingService_ListGpuPrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/network": {
      "get": {
        "summary": "List network prices",
        "operationId": "BillingService_ListNetworkPrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/block-storage": {
      "get": {
        "summary": "List block storage prices (per GiB)",
        "operationId": "BillingService_ListBlockStoragePrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/billing/v1alpha1/prices/object-storage": {
      "get": {
        "summary": "List object storage prices (per GiB)",
        "operationId": "BillingService_ListObjectStoragePrices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPricesResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "description": "ISO 4217 currency code, required: CHF or EUR",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/bucket/v1alpha1/projects/{projectId}/buckets": {
      "get": {
        "summary": "List Buckets",
        "operationId": "BucketService_ListBuckets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1ListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "post": {
        "summary": "Create Bucket",
        "operationId": "BucketService_CreateBucket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BucketServiceCreateBucketBody"
            }
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/bucket/v1alpha1/projects/{projectId}/buckets/{name}": {
      "get": {
        "summary": "Get Bucket",
        "operationId": "BucketService_GetBucket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1GetResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "delete": {
        "summary": "Delete Bucket",
        "operationId": "BucketService_DeleteBucket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/bucket/v1alpha1/projects/{projectId}/buckets/{bucketName}/users": {
      "get": {
        "summary": "List Bucket Users",
        "operationId": "BucketService_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1ListUsersResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "post": {
        "summary": "Create Bucket User",
        "operationId": "BucketService_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1CreateUserResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BucketServiceCreateUserBody"
            }
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/bucket/v1alpha1/projects/{projectId}/buckets/{bucketName}/users/{username}": {
      "get": {
        "summary": "Get Bucket User",
        "operationId": "BucketService_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1GetUserResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "delete": {
        "summary": "Delete Bucket User",
        "operationId": "BucketService_DeleteUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1DeleteUserResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      },
      "patch": {
        "summary": "Update Bucket User",
        "operationId": "BucketService_UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubebucketv1UpdateUserResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1BucketServiceUpdateUserBody"
            }
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/bucket/v1alpha1/projects/{projectId}/buckets/{bucketName}/users/{username}/rotate-credentials": {
      "post": {
        "summary": "Rotate Bucket User Credentials",
        "operationId": "BucketService_RotateUserCredentials",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1RotateUserCredentialsResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Object Storage"
        ]
      }
    },
    "/disk/v1alpha1/projects/{projectId}/disks": {
      "get": {
        "summary": "List Disks",
        "operationId": "DiskService_ListDisks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubediskv1ListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disk Storage"
        ]
      },
      "post": {
        "summary": "Create Disk",
        "operationId": "DiskService_CreateDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubediskv1CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiskServiceCreateDiskBody"
            }
          }
        ],
        "tags": [
          "Disk Storage"
        ]
      }
    },
    "/disk/v1alpha1/projects/{projectId}/disks/{name}": {
      "get": {
        "summary": "Get Disk",
        "operationId": "DiskService_GetDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubediskv1GetResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disk Storage"
        ]
      },
      "delete": {
        "summary": "Delete Disk",
        "operationId": "DiskService_DeleteDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubediskv1DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Disk Storage"
        ]
      },
      "patch": {
        "summary": "Update Disk",
        "operationId": "DiskService_UpdateDisk",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubediskv1UpdateResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiskServiceUpdateDiskBody"
            }
          }
        ],
        "tags": [
          "Disk Storage"
        ]
      }
    },
    "/gpu/v1alpha1/gpus": {
      "get": {
        "summary": "List GPU types and availability",
        "operationId": "GpuService_ListGpus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGpusResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "tags": [
          "GPU"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances": {
      "get": {
        "summary": "List Instances",
        "operationId": "InstanceService_ListInstances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubeinstancev1ListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      },
      "post": {
        "summary": "Create Instance",
        "operationId": "InstanceService_CreateInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubeinstancev1CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceServiceCreateInstanceBody"
            }
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances/{name}": {
      "get": {
        "summary": "Get Instance",
        "operationId": "InstanceService_GetInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubeinstancev1GetResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      },
      "delete": {
        "summary": "Delete Instance",
        "operationId": "InstanceService_DeleteInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubeinstancev1DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      },
      "patch": {
        "summary": "Update Instance",
        "operationId": "InstanceService_UpdateInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hikubeinstancev1UpdateResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceServiceUpdateInstanceBody"
            }
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances/{name}/start": {
      "put": {
        "summary": "Start Instance",
        "operationId": "InstanceService_StartInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StartResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances/{name}/stop": {
      "put": {
        "summary": "Stop Instance",
        "operationId": "InstanceService_StopInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StopResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances/{name}/restart": {
      "put": {
        "summary": "Restart Instance",
        "operationId": "InstanceService_RestartInstance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1RestartResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "invalid input parameters",
                "details": []
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "authentication required",
                "details": []
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "insufficient permissions",
                "details": []
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource not found",
                "details": []
              }
            }
          },
          "409": {
            "description": "Conflict - Resource already exists",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "resource already exists",
                "details": []
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "internal server error",
                "details": []
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Platform is temporarily unavailable",
            "schema": {},
            "examples": {
              "application/json": {
                "request_id": "",
                "message": "service unavailable",
                "details": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/instance/v1alpha1/projects/{projectId}/instances/{name}/reload-userdata": {
      "put": {
        "summary": "Reload UserData script",
[...]
